[init]
	defaultBranch = master
[core]
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	rt = restore
	sw = switch
	br = branch
	ci = commit
	st = status
	wt = worktree
	mo = submodule
	tr = subtree
	cp = cherry-pick
	zz = stash
	zp = stash pop
	zl = stash list
	rrr = rerere
	lg = log --color --graph --decorate --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lga = lg --all
	lgs = lg --stat
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[user]
	name = bigfang
	email = bitair@gmail.com
	signingkey = 165DBB59F3E1024D
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# [commit]
# 	gpgsign = true
