registry=http://registry.npmmirror.com
# registry=https://repo.nju.edu.cn/repository/npm/
init-author-name=bigfang
init-license=MIT
init-version=0.1.0
# auto-install-peers=true
# strict-peer-dependencies=false
